.container-confirm {
    padding: 30px;

    .title {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .info {
        font-size: 20px;
        div {
            padding-bottom: 10px;
        }
    }
}
