<div *ngIf="carToOrder$ | async" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="50" class="container-confirm">
        <div class="title">Confirm Order</div>
        <div class="info">
            <div><strong>City:</strong> {{ (searchCars$ | async).cityName | uppercase }}</div>
            <div><strong>Date Start:</strong> {{ (searchCars$ | async).dateStart | date: 'fullDate' }}</div>
            <div><strong>Date End:</strong> {{ (searchCars$ | async).dateEnd | date: 'fullDate' }}</div>
        </div>
        <car-info [car]="carToOrder$ | async"></car-info>
    </div>
    <div *ngIf="!(userLogged$ | async)" fxFlex="50" class="pd-30">
        <button mat-raised-button fxFlex="100" (click)="openUserLogin()">I already have an account</button>
    </div>
    <div *ngIf="userLogged$ | async" fxFlex="50" class="pd-30">
        <button mat-raised-button fxFlex="100" (click)="saveOrder()"><mat-icon>save</mat-icon>Save order</button>
    </div>
</div>
