<!-- <input type="text" [(ngModel)]="locationSearch" (ngModelChange)="searchChange()" />

{{ locationSearch }}

{{ locations | json }} -->

<div class="container-select">
    <input
        type="text"
        [(ngModel)]="locationSearch"
        (ngModelChange)="searchChange()"
        (keydown)="keyDownInput($event)"
        (focus)="onFocusInput()"
        (blur)="onBlurInput()"
        required
        class="input-city"
    />
    <div *ngIf="options" class="options-container">
        <div
            *ngFor="let location of options; let idx = index"
            (click)="selectOption(location)"
            (mouseover)="focusOption(idx)"
            [class.item-focused]="idx === indexFocused"
            class="options-item"
        >
            {{ location.name }}
        </div>
    </div>
</div>
