@import './../../../../../assets/styles/vars.scss';

.container-select {
    width: inherit;
    height: inherit;
    position: relative;

    .options-container {
        position: absolute;
        z-index: 1;
        width: 100%;

        .options-item {
            background-color: #fff;
            line-height: 30px;
            padding: 5px;
            font-size: 17px;
        }
    }
}

.item-focused {
    background-color: $primary-orange !important;
}

.input-city {
    width: calc(100% - 4px);
    margin-top: 23px;
    font-size: 22px;
    color: $primary-black;
    border: 0;
    outline: 0;
    border-bottom: 2px solid $primary-orange;
    vertical-align: middle;
    background-color: transparent;
    text-overflow: ellipsis;
}
