<div class="container-search-form">
    <div>Pick up place</div>
    <!-- Locations Search -->
    <form #searchCarForm="ngForm" novalidate class="search-form">
        <select-city
            class="select-city"
            [locations]="locations$ | async"
            (locationChange)="locationChange($event)"
        ></select-city>
        <mat-error *ngIf="locationSelectedError">Pick up date required</mat-error>
        <!-- <search-city [locations]="locations$ | async"></search-city> -->
        <!-- PICK UP TIME -->
        <mat-form-field appearance="fill" [color]="'accent'" class="mat-start-date">
            <mat-label>Pick up time</mat-label>
            <input matInput name="pickupDate" [matDatepicker]="pickupDate" [(ngModel)]="pickupDateValue" required />
            <mat-datepicker-toggle matSuffix [for]="pickupDate"></mat-datepicker-toggle>
            <mat-datepicker #pickupDate [color]="'accent'"></mat-datepicker>
            <mat-error *ngIf="searchCarForm.controls?.pickupDate?.invalid">Pick up date required</mat-error>
        </mat-form-field>

        <!-- RETURN TIME -->
        <mat-form-field appearance="fill" [color]="'primary'">
            <mat-label>Return Time</mat-label>
            <input matInput name="returnDate" [matDatepicker]="returnDate" [(ngModel)]="returnDateValue" required />
            <mat-datepicker-toggle matSuffix [for]="returnDate"></mat-datepicker-toggle>
            <mat-error *ngIf="searchCarForm.controls?.returnDate?.invalid">Return date required</mat-error>
            <mat-datepicker #returnDate [color]="'primary'"></mat-datepicker>
        </mat-form-field>

        <button
            mat-raised-button
            color="accent"
            [disabled]="!searchCarForm.valid || locationSelected == null"
            (click)="findCars()"
            class="button-search"
        >
            SHOW ME OFFERS
        </button>
    </form>
</div>

<div class="image-bg-container">
    <div class="title-img">¡PAGA AHORA Y AHORRA AL INSTANTE!</div>
    <!-- <img src="assets/img/bg.jpg" alt="" /> -->
</div>
